@model Oblig1theAteam.ViewModels.Order.MyOrdersViewModel
@{
    ViewData["Title"] = "Orders";
}
<h1>My Orders</h1>
<table class="table table-striped">
    <tbody id="order-table">
        @foreach (var order in Model.Orders) { 
            @foreach (var movie in order.Movies)
            {
                <tr >
                    <td id="order-row"><img class="order-table-image" src="~/images/posters/thumbnail/@movie.PosterName" /></td>
                    <td id="order-row">@movie.Title</td>
                    <td id="order-row">@order.Date.ToString("dd MMM yyyy")</td>
                    <td id="order-row">
                        <a class="btn btn-success" href="~/video/movie.mp4" download>
                            Download
                            <span class="glyphicon glyphicon-download"></span>
                        </a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

