
<div id="orderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="modal-order-title"></h1>
            </div>
            <div class="modal-body">
                <div class="modal-order-body">
                    <div id="modal-order-text">
                        <div>
                            <p id="modal-order-confirmation">
                                Your purchase was successful!
                            </p>
                            <button id="modal-order-page-button" class="btn btn-primary">View your orders</button>
                            <button id="modal-home-button" class="btn btn-primary">Return to homepage</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>