@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}

<h1>@Model.User.FirstName @Model.User.LastName</h1>

<ul>
    @foreach (var order in Model.Orders)
    {
        <li>@order.Date.ToShortDateString()</li>
    }
</ul>