@model Oblig1theAteam.ViewModels.Home.IndexViewModel

@{
    // Viewet skal kun vise frem ViewModellen. Den skal ikke inneholde logikk.
    ViewData["Title"] = "Home Page";
}


<ul>
    @foreach (var movie in Model.Movies)
    {
        <li>@movie.Title</li>
            <ul>
                @foreach (var genre in movie.Genre)
                {
                    <li>@genre.GenreName</li>
                }
            </ul>
        @Html.ActionLink("Legg i handlekurv", "AddToShoppingCart", new { id = movie.Id}, new { @class = "btn btn-primary"})
    }
</ul>